.btn {
  height: 40px;
  width: 100%;
  padding: 0 18px;
  border-radius: 7px;
  color: #000;
  background: #fff;
  border: none;
  font-weight: 600;
  font-family: 'Inter', sans-serif;

  &:disabled {
    opacity: 0.5;
  }

  &:not(:disabled):hover {
    cursor: pointer;
    filter: brightness(97%);
  }
}

.btnLink {
  display: block;
  text-align: center;
  line-height: 40px;
  text-decoration: none;
}

// Background color
.white {
  background-color: #fff;
}

.primary-dark {
  background-color: var(--color-primary-dark);
  color: #fff;
}

.gray-light {
  background-color: var(--color-gray-light);
}

.transparent {
  background-color: transparent;
}

.red {
  background-color: #cc0049;
  color: #fff;
}

// ButtonStyleType
.without-border {
  border: none;
}

.with-border {
  border: 1px solid var(--color-primary-dark);
}

.small-round {
  width: 30px;
  height: 30px;
  padding: 8px;
  border-radius: 50%;
}

.medium-round {
  width: 36px;
  height: 36px;
  padding: 8px;
  border-radius: 50%;
}

.large-round {
  width: 50px;
  height: 50px;
  padding: 13px;
  border-radius: 50%;
}

.extra-large-round {
  width: 96px;
  height: 96px;
  padding: 5px;
  border-radius: 50%;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: -2px 1px 8px 1px #cc004940, 0px 2px 9px 2px #cc004940;
}

// Icons
.buttonIcon {
  display: block;
  width: 100%;
  height: 100%;
}

.bell {
  background-image: url('../../../assets/images/bell.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.search {
  background-image: url('../../../assets/images/loupe.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.expand {
  background-image: url('../../../assets/images/arrow-down-button.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.chat {
  background-image: url('../../../assets/images/comment-chat.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.edit {
  background-image: url('../../../assets/images/edit-icon.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.delete {
  background-image: url('../../../assets/images/trash-icon.svg');
  background-repeat: no-repeat;
  background-position: center;
}

