.infoHeader {
  font-size: 18px;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.infoBloks {
  display: flex;
  margin-top: 32px;
}

.title {
  margin-right: 20px;
}

.photo {
  width: 157px;
  height: 157px;
  overflow: hidden;
}

.image {
  width: 100%;
  border-radius: 15px;
}

.mainUserInfo {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 25px;
  border-right: 1px solid grey;
}

.card {
  background-color: #ac5dd9;
  padding: 5px 10px;
  border-radius: 50px;
  color: #f2f2f5;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 15px;
}

.name {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px;
}

.sex {
  color: #787878;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 15px;
}

.dateLabel {
  color: #787878;
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 10px;
}

.date {
  font-size: 14px;
  font-weight: 400;
}

.secUserInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 60px;
  width: 200px;
}

.item {
  display: flex;
  margin-top: 10px;
}

.text {
  font-size: 14px;
  font-weight: 400;
  margin-left: 22px;
  text-align: left;
  text-decoration: none;
  color: var(--color-gray);
}

.icon {
  width: 22px;
  height: 22px;
}

.phone {
  background-image: url('../../../../assets/images/phone.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.email {
  background-image: url('../../../../assets/images/mail.svg');
  background-repeat: no-repeat;
  background-position: center;
}
.actionWrapper {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.uploadDocument {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 40px;
  padding: 0 18px;
  border-radius: 7px;
  font-weight: 600;
  font-family: 'Inter', sans-serif;
  color: #fff;
  background-color: var(--color-primary-dark);
  cursor: pointer;

  &:hover {
    opacity: 0.92;
    cursor: pointer;
  }
}

.inputDocument {
  cursor: inherit;
}

.selectFormWrapper {
  display: flex;
  align-items: flex-end;
}

.selectWrapper {
  width: 230px;
  margin: 30px 30px 0 0;
}

.selectSubmitWrapper {
  flex: 0 1 10%;
}

.uploadDocumentLabel {
  display: inline-block;
  align-self: flex-start;
  margin-top: 30px;
}
