.panel {
  background-color: #f2f2f5;
  flex-grow: 1;
  padding: 10% 15%;

  .filters {
    display: flex;
    flex-direction: column;

    .filterHeader {
      display: flex;
      align-self: flex-start;
      font-size: 14pt;
      margin-left: 5px;
      margin-bottom: 10px;
      color: #000;
      font-weight: bold;
    }
  }
}
