.messageList {

  // display: flex;
  // flex-flow: column nowrap;

  // & > :first-child {
  //   margin-top: auto !important;
  //   /* use !important to prevent breakage from child margin settings */
  // }

  display: flex;
  flex-direction: column-reverse;

  overflow-y: auto;
  height: 100%;
  padding: 20px 57px;
  border: 1px solid #DBDBDB;
  border-left: 0;
  border-right: 0;

  .messageContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background-color: #faf9f9; // var(--color-gray-light);
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(172, 93, 217, 0.3);
    border-radius: 5px;
  }

  &::after {
    content: '.';
    color: #faf9f9;
    line-height: 20px;
  }
}
