.container {
  position: sticky;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: 3% 16% auto 25% 3%;
  grid-template-rows: 1fr;
  height: 80px;
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0px 2px 1px rgb(191 191 191 / 25%);
  color: #000;
  z-index: var(--z-index--level-two);

  .logoSection {
    display: flex;
    grid-column: 2;
    justify-content: flex-start;
    align-items: center;

    .logoLabel {
      cursor: pointer;
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 22px;
      margin-left: 16px;
    }

    a {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      text-decoration: none;
    }
  }

  .pagesSection {
    display: flex;
    grid-column: 3;
    justify-content: center;
    align-items: center;

    a {
      margin-left: 20px;
      margin-right: 20px;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      text-decoration: none;
    }
  }

  .userSection {
    position: relative;
    display: flex;
    grid-column: 4;
    justify-content: flex-end;
    align-items: center;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;

    .avatar {
      margin-left: 16px;
      margin-right: 16px;
      width: 55px;
      height: 55px;
      border-radius: 50%;
    }

    .userInfo {
      margin-left: 8px;
      margin-right: 8px;
    }

    button {
      margin-left: 8px;
      margin-right: 8px;
    }

    .dropdownMenu {
      display: flex;
      position: absolute;
      top: 90%;
      right: 0;
      background-color: #fff;
      box-shadow: 2px -1px 15px #dedcdc;
      border-radius: 2px;
      padding: 15px;
      width: 65%;
      flex-direction: column;
      z-index: 2;

      .userName {
        font-size: 14px;
        text-align: center;
        color: #9da3a3;
        border-bottom: 1px solid #9da3a3;
        margin-bottom: 8px;
      }
    }
  }
}
