.mainContainer{
  display: flex;
  flex-direction: column;
}

.radioContainer {
  display: flex;
  justify-content: space-between;
}

.errorContainer{
  margin-top: 10px;
  color: red;
}

.radioInput {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.radioLabel {
  display: block;
  position: relative;
  padding: 8px 18px;
  margin-right: 30px;
  background-color: var(--color-gray-light);
  opacity: 0.95;
  border-radius: 10px;
  box-shadow: 0px 2px 2px #dfdfdf;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    cursor: pointer;
  }
}

.isChecked {
  background-color: var(--color-secondary-dark);
  color: #fff;
}
