.select {
  height: 40px;
  width: 100%;
  padding-left: 19px;
  border-radius: 7px;
  border: 1px solid transparent;
  position: relative;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: url('../../../assets/images/arrow-down.svg');
  background-repeat: no-repeat;
  background-position: right 13px top 50%;
  background-size: 15px;
  color: #00000079;
  font-family: 'Inter', sans-serif;

  &:hover {
    cursor: pointer;
  }

  &:disabled {
    opacity: 0.5;
  }

  &:focus {
    outline: none;
    border: 1px solid var(--color-primary-light);
  }

  option {
    display: inline-block;
    padding: 10px;
  }
}

.error {
  border: 1px solid var(--color-error);
  color: var(--color-error);
}
