.iconsDiv {
  min-width: 171px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.iconDiv {
  width: 18px;
  height:18px;
  display: flex;
  align-items: center;
  cursor: pointer;
  background-repeat: no-repeat;
}
.errorSpan {
  color: #e71616;
}
.editForm {
  position:absolute;
  top:calc(50vh - 350px);
  left: calc(50vw - 350px);
  width: 700px;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border:2px solid gray;
  z-index: 2;
  background-color:white;
}
.inputElements{
  width: 60%;
  height: 70%;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
}
.inputRow{
  display: flex;
  justify-content: space-between;
}
.editIcon{
  background-image: url('../../assets/images/admin-page/vectoredit.svg');
}
.pdfIcon{
  background-image: url('../../assets/images/admin-page/vectorpdf.svg');
}
.downloadIcon{
  background-image: url('../../assets/images/admin-page/vectordownload.svg');
}
.historyIcon{
  background-image: url('../../assets/images/admin-page/vectorhistory.svg');
}
