.department{
  display: block;
  color: #787878;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 10px;
}
.name{
  display: block;
  color: #000000;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px;
}
.clinicName{
  font-size: 18px;
  font-weight: 400;
  color: #787878;
  margin-bottom: 5px;
}
.clinicType{
  width: fit-content;
  padding: 5px 10px;
  border-radius: 50px;
  font-size: 12px;
  font-weight: 400;
  color: #FFFFFF;
  cursor: default;
  text-transform: uppercase;
}
.state{
  background-color: #5B8DEF;
}
.private{
  background-color: #AC5DD9;
}

.infoItem{
  display: flex;

  .text{
    font-size: 14px;
    font-weight: 400;
    margin-left: 22px;
  }
}
.infoItem:not(:first-child){
  margin-top: 12px;
}

.button{
  width: 100%;
}

.icon{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 25px;
  background-color: #F2F2F5;
}
