.infoItem{
  display: flex;

  .icon{
    width: 22px;
    height: 22px;
  }

  .text{
    font-size: 14px;
    font-weight: 400;
    margin-left: 22px;
    align-self: flex-end;
  }
}
.infoItem:not(:first-child){
  margin-top: 12px;
}

.location {
  background-image: url('../../../../assets/images/location.svg');
  background-repeat: no-repeat;
  background-position: center;
}
