.menuItem {
  display: flex;
  height: 50px;
  align-items: center;
  border-bottom: 1px solid grey;
  width: 100%;
  cursor: pointer;

  .menuText {
    font-size: 14px;
    font-weight: 400;
    margin-left: 15px;
    text-align: left;
  }

  .icon{
    width: 22px;
    height: 22px;
  }
}
