.appointmentContainer{
  width: 40%;
  border-right: 1px solid lightgrey;

  .headerBlock{
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;

    .text{
      font-size: 18px;
      font-weight: 600;
      color: black;
      margin-left: 10px;
    }
  }

  .radio{
    width: 70%;
  }

  .buttonsContainer{
    display: flex;
    align-items: center;
    margin-top: 30px;

    .button{
      width: 55%;
      margin-right: 40px;
    }
  }
}
