.container {
  height: 100%;
  padding: 3vh 1vw 3vh 1vw;
  list-style: none;
  background-color: #f2f2f5;
}
.margLeft {
  margin-left: 24px;
}
.inptHght {
  height: 5vh;
}
.button {
  width: 8vw;
  min-height: 30px;
  background-color: #dda5e9;
  font-size: 20px;
  font-weight: bold;
  color: white;
  border: none;
  border-radius: 5px;
}
.table{
  width: 992px;
  height: 633px;
  margin-left:400px;
  background-color:#FFFFFF;
  overflow:auto;
}
table {
  // position:absolute;
  left: 400px;
  top: 180px;
  height: auto;
  border-spacing: 0;
  border: 1px solid #EDEDF0;

  td{
    height: 31px;
    padding:10px 19px 11px 10px;
    margin: 0;
    border-bottom: 1px solid #EDEDF0;
    border-right: 1px solid #EDEDF0;

    :last-child {
      border-right: 0;
    }
  }

  tr {
    :last-child {
      td {
        border-bottom: 0;
      }
    }
  }

  th{
    height: 33px;
    padding:11px 19px 11px 19px;
    color:#F2F2F5;
    background-color:#AC5DD9;
    border-right: 1px solid #EDEDF0;
  }
}
