form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  color: black;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;

  .title {
    margin-top: 5px;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    color: black;
    align-self: flex-start;
  }

  & a {
    text-decoration: none;
  }

  .forgotLink {
    width: 100%;
    text-align: right;
  }

  .inputBlock {
    margin-bottom: 15px;
    width: 100%;
  }

  .submitBtn {
    margin-top: 15px;
    width: 100%;
  }
}
