.tabContainer {
  position: relative;
  width: 100%;
  height: 100%;

  .container {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    .infoHeader {
      font-size: 18px;
      grid-row: 1;
      font-weight: 600;
      display: flex;
      align-items: center;

      .title {
        display: flex;
        width: 80%;
        margin-right: 20px;
      }

      .addButton {
        width: 20%;
        display: flex;
        justify-content: flex-end;

        button {
          width: 50%;
        }
      }
    }

    .diagnosesContainer {
      display: flex;
      flex-direction: column;
      margin-top: 28px;
      overflow-y: scroll;

      &::-webkit-scrollbar {
        display: none;
      }

      .item {
        margin-top: 16px;

        .diagnosisInfo {
          display: flex;
          flex-direction: row;
          margin-top: 16px;
          margin-bottom: 8px;

          .name {
            width: 50%;
          }

          .time {
            display: flex;
            width: 50%;
            justify-content: flex-end;
          }
        }
      }
    }
  }
}
