.container{
    position: fixed;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    overflow-y: scroll;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    padding: 38px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    z-index: var(--z-index--level-two);
    background-color: rgba(242, 242, 245, 0.7);
    backdrop-filter: blur(7px);
}

.container::-webkit-scrollbar {
    width: 0;
}
