.modalContainer{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;  
  align-items: center;
  justify-content: center;
  background-color: rgba(black, .3);  
}

.open{
  display: flex;  
}

.close{
  display: none;
}

.modalBody{
  position: relative;
  width: 300px;
  height: 300px;
  background-color: white;
  border-radius: 15px;
}

.closeSymbol{
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}